<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expandable Tables</title>
        <link rel="stylesheet" href="../assets/styles.css">
    </head>
    <body>
        <h1>Log Report</h1>
        <hr>
        <div>
            <button id="toggleButton" onclick="toggleTables()">Sort by Unique Visitors</button>
        </div>
        <h2 id="tableInfo">Sorted by Most Viewed Pages</h2>
        <%= @most_views_table %>
        <%= @unique_views_table %>
        <script src="../assets/script.js"></script>
    </body>
</html>